<a href="https://colab.research.google.com/github/Worachet-Ch/Project/blob/main/Lasso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# เตรียมข้อมูล

In [1]:
import pandas as pd
import os
from google.colab import drive #เชื่อม Google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/project2022' #เข้า drive
data_test = pd.read_csv(os.path.join(path,'test15.csv'))
data_test.drop('Unnamed: 0',1,inplace = True)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

<ipython-input-1-22381b44fb0a>:7: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data_test.drop('Unnamed: 0',1,inplace = True)

In [2]:
from sklearn import linear_model
from sklearn import datasets, linear_model
from sklearn.model_selection import cross_validate
from sklearn.metrics import make_scorer
from sklearn.metrics import confusion_matrix
from sklearn.svm import LinearSVC
from sklearn.model_selection import KFold, GridSearchCV, cross_val_score
from sklearn import metrics
from numpy import mean
from numpy import std

In [3]:
data_test

,Sex,AgeSYear,telomere length (kb),Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,...,003_Creatinine,004_Uric Acid,005_Cholesterol,006_Triglyceride,008_HDL-C,009_LDL,010_AST,012_ALT,013_Alkaline Phos,071_HbA1c
0,2,39,7.57,44.4,148,20.3,91,66,81,18.0,...,0.9,5.0,170,50,65,95,12,20,35,5.2
1,2,25,10.30,50.5,158,20.2,122,70,86,20.5,...,0.5,3.9,165,40,68,89,13,28,32,5.3
2,2,42,9.71,57.1,158,22.9,107,65,81,22.8,...,0.7,3.9,183,55,60,112,18,26,60,5.5
3,1,26,8.36,59.7,170,20.7,122,68,75,27.6,...,1.2,5.6,186,87,45,124,22,27,43,7.8
4,2,71,5.02,40.9,150,18.2,128,62,83,17.6,...,0.7,3.6,196,111,58,115,15,29,52,4.4
5,2,36,8.18,62.5,160,24.4,86,55,86,23.0,...,0.7,4.1,194,65,58,123,27,31,45,5.5
6,2,46,6.45,55.2,163,20.8,138,85,71,22.0,...,0.7,5.1,219,85,56,146,10,23,53,5.7
7,2,52,8.15,53.9,156,22.1,139,84,80,20.7,...,1.1,6.9,184,75,72,97,17,34,64,7.1
8,2,30,9.04,51.1,158,20.5,108,66,74,20.4,...,0.5,5.4,158,56,34,112,12,20,61,3.9
9,1,32,7.46,70.3,177,22.4,110,75,76,31.0,...,1.0,5.5,212,75,58,139,35,26,57,6.3
10,2,46,6.94,56.4,163,21.2,105,62,66,22.9,...,0.9,4.9,171,60,68,91,12,24,46,4.9
11,2,58,6.33,46.4,152,20.1,116,78,66,18.4,...,0.5,4.5,168,90,53,97,15,23,63,4.2
12,2,39,8.36,55.8,160,21.8,102,64,62,21.9,...,0.7,4.0,194,60,73,109,21,34,53,5.4
13,2,30,9.37,40.8,147,18.9,93,63,80,16.9,...,0.7,3.6,199,65,57,129,12,22,49,5.8
14,2,66,5.97,54.0,157,21.9,125,77,61,20.7,...,0.8,5.2,222,194,43,140,22,26,32,6.4

In [20]:
def data(Train, Test):
  y_train =Train[['telomere length (kb) ']].values.copy() #n = 408
  X_train = Train.drop('telomere length (kb) ',axis = 1).values.copy() # n =408
  X_test = Test.drop('telomere length (kb) ',axis = 1).values.copy()
  y_test = Test[['telomere length (kb) ']].values.copy()
  model = linear_model.Lasso()
  param = {'alpha': [0.1,0.3,0.5,0.7,0.9,1]}
  search = GridSearchCV(model, param, scoring='neg_mean_absolute_error', n_jobs=1, cv=5, refit=True)
  result = search.fit(X_train, y_train)
  best_model = result.best_estimator_
  best_model.fit(X_train,y_train) 
  scores_mae = cross_val_score(best_model , X_train, y_train, scoring='neg_mean_absolute_error',cv=5 )
  y_pred = best_model.predict(X_test)
  mae  = metrics.mean_absolute_error(y_test, y_pred)
  print('Best model:',best_model)
  print(f'score:{scores_mae}')
  print(f'Mean score:{scores_mae.mean()}')
  print('MAE Test:',mae)

# พร้อมกันทุกตัวแปร

In [5]:
df_once = pd.read_csv(os.path.join(path,'df_once.csv'))
df_once.drop('Unnamed: 0',1,inplace = True)

<ipython-input-5-788f31b5dfa3>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_once.drop('Unnamed: 0',1,inplace = True)

In [6]:
df_once

,Sex,AgeSYear,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,Fat Mass,...,Uric Acid,Cholesterol,Triglyceride,HDL-C,LDL,AST,ALT,Alkaline Phos,HbA1c,telomere length (kb)
0,2,58,47.200,156.00,19.400,112.00,64.00,70.00,19.709,13.578,...,4.8,180,97,62,98,25,32.0,40.0,5.800,7.30
1,2,57,47.400,153.00,20.200,114.00,75.00,69.00,19.300,12.500,...,5.0,176,51,72,94,16,16.0,62.0,5.100,6.36
2,2,24,53.200,157.00,21.600,103.00,69.00,78.00,21.300,14.600,...,5.2,159,45,52,98,13,17.0,50.0,5.400,9.71
3,2,62,54.400,165.00,20.000,95.00,75.00,83.00,21.600,15.200,...,4.1,230,94,61,151,18,31.0,76.0,5.600,6.17
4,2,86,49.000,154.00,20.700,129.00,79.00,83.00,19.967,13.705,...,5.4,183,86,39,127,12,22.0,82.0,6.200,4.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403,2,25,47.000,165.00,17.300,104.00,63.00,89.00,20.443,12.801,...,4.8,232,36,96,128,18,12.0,46.0,5.113,8.98
404,2,31,72.200,168.00,25.600,123.00,89.00,69.00,25.313,18.577,...,6.1,187,49,51,127,21,24.0,71.0,5.426,8.23
405,2,32,62.315,155.91,25.276,112.53,72.11,77.96,22.803,24.156,...,5.1,222,58,79,132,17,10.0,34.0,5.357,8.79
406,1,29,60.132,168.49,21.862,116.63,75.98,81.99,27.959,11.444,...,6.8,140,92,48,73,31,75.0,69.0,6.033,8.93
407,2,31,64.006,161.51,24.391,113.00,73.07,74.46,23.876,22.002,...,4.0,243,161,87,124,24,11.0,46.0,5.055,7.92

In [21]:
data(df_once,data_test)

Best model: Lasso(alpha=0.7)
score:[-0.62513637 -0.71336773 -0.70246802 -0.55912892 -0.94402886]
Mean score:-0.7088259795943477
MAE Test: 0.7066406682283871

# ทีละตัวแปร จากค่าว่างมากไปน้อย

In [8]:
df_decreasing = pd.read_csv(os.path.join(path,'df_decreasing.csv'))
df_decreasing.drop('Unnamed: 0',1,inplace = True)

<ipython-input-8-9b6b50a13b92>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_decreasing.drop('Unnamed: 0',1,inplace = True)

In [9]:
df_decreasing

,Sex,AgeSYear,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,Fat Mass,...,Uric Acid,Cholesterol,Triglyceride,HDL-C,LDL,AST,ALT,Alkaline Phos,HbA1c,telomere length (kb)
0,2,58,47.200000,156.000000,19.400000,112.000,64.00,70.00,20.208,16.356,...,4.8,180,97,62,98,25,32.0,40.0,5.800000,7.30
1,2,57,47.400000,153.000000,20.200000,114.000,75.00,69.00,19.300,12.500,...,5.0,176,51,72,94,16,16.0,62.0,5.100000,6.36
2,2,24,53.200000,157.000000,21.600000,103.000,69.00,78.00,21.300,14.600,...,5.2,159,45,52,98,13,17.0,50.0,5.400000,9.71
3,2,62,54.400000,165.000000,20.000000,95.000,75.00,83.00,21.600,15.200,...,4.1,230,94,61,151,18,31.0,76.0,5.600000,6.17
4,2,86,49.000000,154.000000,20.700000,129.000,79.00,83.00,19.709,14.545,...,5.4,183,86,39,127,12,22.0,82.0,6.200000,4.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403,2,25,47.000000,165.000000,17.300000,104.000,63.00,89.00,22.658,15.876,...,4.8,232,36,96,128,18,12.0,46.0,5.586667,8.98
404,2,31,72.200000,168.000000,25.600000,123.000,89.00,69.00,22.956,17.269,...,6.1,187,49,51,127,21,24.0,71.0,5.233333,8.23
405,2,32,57.733763,161.138144,22.066778,110.860,72.25,74.74,21.605,14.816,...,5.1,222,58,79,132,17,10.0,34.0,5.593333,8.79
406,1,29,59.594922,166.059308,21.357616,113.945,75.82,78.13,30.868,11.115,...,6.8,140,92,48,73,31,75.0,69.0,5.420000,8.93
407,2,31,58.742604,161.509610,22.430886,117.950,73.08,80.49,23.053,21.167,...,4.0,243,161,87,124,24,11.0,46.0,6.100000,7.92

In [10]:
data(df_decreasing,data_test)

Best model: Lasso(alpha=0.7)
score:[-0.62839836 -0.66204248 -0.65162783 -0.53749327 -0.93622808]
Mean score:-0.683158005530026
MAE Test: 0.733258730188049

# ทีละตัวแปร จากค่าว่างน้อยไปมาก

In [14]:
df_increasing = pd.read_csv(os.path.join(path,'df_increasing.csv'))
df_increasing.drop('Unnamed: 0',1,inplace = True)

<ipython-input-14-7ea035d33d11>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_increasing.drop('Unnamed: 0',1,inplace = True)

In [15]:
df_increasing

,Sex,AgeSYear,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,Fat Mass,...,Uric Acid,Cholesterol,Triglyceride,HDL-C,LDL,AST,ALT,Alkaline Phos,HbA1c,telomere length (kb)
0,2,58,47.200000,156.000000,19.400000,112.00,64.00,70.00,19.588,13.636,...,4.8,180,97,62,98,25,32.0,40.0,5.800000,7.30
1,2,57,47.400000,153.000000,20.200000,114.00,75.00,69.00,19.300,12.500,...,5.0,176,51,72,94,16,16.0,62.0,5.100000,6.36
2,2,24,53.200000,157.000000,21.600000,103.00,69.00,78.00,21.300,14.600,...,5.2,159,45,52,98,13,17.0,50.0,5.400000,9.71
3,2,62,54.400000,165.000000,20.000000,95.00,75.00,83.00,21.600,15.200,...,4.1,230,94,61,151,18,31.0,76.0,5.600000,6.17
4,2,86,49.000000,154.000000,20.700000,129.00,79.00,83.00,19.973,14.361,...,5.4,183,86,39,127,12,22.0,82.0,6.200000,4.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403,2,25,47.000000,165.000000,17.300000,104.00,63.00,89.00,20.286,14.208,...,4.8,232,36,96,128,18,12.0,46.0,5.480000,8.98
404,2,31,72.200000,168.000000,25.600000,123.00,89.00,69.00,25.127,19.207,...,6.1,187,49,51,127,21,24.0,71.0,5.233333,8.23
405,2,32,58.229814,161.337130,22.316020,113.03,70.77,74.35,23.161,21.327,...,5.1,222,58,79,132,17,10.0,34.0,5.573333,8.79
406,1,29,58.651179,165.311575,21.143898,118.45,76.77,86.54,27.366,18.731,...,6.8,140,92,48,73,31,75.0,69.0,5.160000,8.93
407,2,31,58.687000,161.121980,22.432504,114.91,72.90,74.67,23.034,19.752,...,4.0,243,161,87,124,24,11.0,46.0,6.013333,7.92

In [16]:
data(df_increasing,data_test)

Best model: Lasso(alpha=0.7)
score:[-0.62590413 -0.71546884 -0.70548097 -0.55231781 -0.95174483]
Mean score:-0.7101833133407301
MAE Test: 0.7092266861997696