<a href="https://colab.research.google.com/github/Worachet-Ch/Project/blob/main/Lasso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# เตรียมข้อมูล

In [1]:
import pandas as pd
import os
from google.colab import drive #เชื่อม Google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/project2022' #เข้า drive
data_test = pd.read_csv(os.path.join(path,'test15.csv'))
data_test.drop('Unnamed: 0',1,inplace = True)

Mounted at /content/drive

<ipython-input-1-22381b44fb0a>:7: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data_test.drop('Unnamed: 0',1,inplace = True)

In [2]:
from sklearn import linear_model
from sklearn import datasets, linear_model
from sklearn.model_selection import cross_validate
from sklearn.metrics import make_scorer
from sklearn.metrics import confusion_matrix
from sklearn.svm import LinearSVC
from sklearn.model_selection import KFold, GridSearchCV, cross_val_score
from sklearn import metrics
from sklearn.metrics import mean_absolute_error

In [3]:
data_test

,Sex,AgeSYear,telomere length (kb),Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,...,003_Creatinine,004_Uric Acid,005_Cholesterol,006_Triglyceride,008_HDL-C,009_LDL,010_AST,012_ALT,013_Alkaline Phos,071_HbA1c
0,2,39,7.57,44.4,148,20.3,91,66,81,18.0,...,0.9,5.0,170,50,65,95,12,20,35,5.2
1,2,25,10.30,50.5,158,20.2,122,70,86,20.5,...,0.5,3.9,165,40,68,89,13,28,32,5.3
2,2,42,9.71,57.1,158,22.9,107,65,81,22.8,...,0.7,3.9,183,55,60,112,18,26,60,5.5
3,1,26,8.36,59.7,170,20.7,122,68,75,27.6,...,1.2,5.6,186,87,45,124,22,27,43,7.8
4,2,71,5.02,40.9,150,18.2,128,62,83,17.6,...,0.7,3.6,196,111,58,115,15,29,52,4.4
5,2,36,8.18,62.5,160,24.4,86,55,86,23.0,...,0.7,4.1,194,65,58,123,27,31,45,5.5
6,2,46,6.45,55.2,163,20.8,138,85,71,22.0,...,0.7,5.1,219,85,56,146,10,23,53,5.7
7,2,52,8.15,53.9,156,22.1,139,84,80,20.7,...,1.1,6.9,184,75,72,97,17,34,64,7.1
8,2,30,9.04,51.1,158,20.5,108,66,74,20.4,...,0.5,5.4,158,56,34,112,12,20,61,3.9
9,1,32,7.46,70.3,177,22.4,110,75,76,31.0,...,1.0,5.5,212,75,58,139,35,26,57,6.3
10,2,46,6.94,56.4,163,21.2,105,62,66,22.9,...,0.9,4.9,171,60,68,91,12,24,46,4.9
11,2,58,6.33,46.4,152,20.1,116,78,66,18.4,...,0.5,4.5,168,90,53,97,15,23,63,4.2
12,2,39,8.36,55.8,160,21.8,102,64,62,21.9,...,0.7,4.0,194,60,73,109,21,34,53,5.4
13,2,30,9.37,40.8,147,18.9,93,63,80,16.9,...,0.7,3.6,199,65,57,129,12,22,49,5.8
14,2,66,5.97,54.0,157,21.9,125,77,61,20.7,...,0.8,5.2,222,194,43,140,22,26,32,6.4

In [ ]:
def data(Train, Test):
  y_train =Train[['telomere length (kb) ']].values.copy() #n = 407
  X_train = Train.drop('telomere length (kb) ',axis = 1).values.copy() # n =407
  X_test = Test.drop('telomere length (kb) ',axis = 1).values.copy()
  y_test = Test[['telomere length (kb) ']].values.copy()
  model = linear_model.Lasso()
  param = {'alpha': [0.1,0.3,0.5,0.7,0.9,1]}
  search = GridSearchCV(model, param, scoring='neg_mean_absolute_error', n_jobs=1, cv=5, refit=True)
  result = search.fit(X_train, y_train)
  best_model = result.best_estimator_
  best_model.fit(X_train,y_train) 
  scores_mae = cross_val_score(best_model , X_train, y_train, scoring='neg_mean_absolute_error',cv=5 )
  y_pred = best_model.predict(X_test)
  mae  = metrics.mean_absolute_error(y_test, y_pred)
  print('Best model:',best_model)
  print(f'score:{scores_mae}')
  print(f'Mean score:{scores_mae.mean()}')
  print('MAE Test:',mae)

## Cross

In [4]:
#alpha = 0.7, 0.5, 1
def cross(data,i,j,m):
  y_train =data[['telomere length (kb) ']].values.copy() #n = 407
  X_train = data.drop('telomere length (kb) ',axis = 1).values.copy() # n =407
  X_test = data_test.drop('telomere length (kb) ',axis = 1).values.copy()
  y_test = data_test[['telomere length (kb) ']].values.copy()
  alp = [i,j,m]
  for k in alp :
    model = linear_model.Lasso(alpha = k)
    model.fit(X_train,y_train) 
    scores_mae = cross_val_score(model , X_train, y_train, scoring='neg_mean_absolute_error',cv=5 )
    y_pred = model.predict(X_test)
    mae  = metrics.mean_absolute_error(y_test, y_pred)
    print('alpha:', k) 
    print(f'score:{scores_mae}')
    print(f'Mean score:{scores_mae.mean()}')
    print('MAE Test:',mae)
    print('R2 Value Test:',metrics.r2_score(y_test, y_pred))
    print('MSE Test:',metrics.mean_squared_error(y_test, y_pred))
    print('-----------------------------')

# พร้อมกันทุกตัวแปร

In [9]:
df_once = pd.read_csv(os.path.join(path,'df_once.csv'))
df_once.drop('Unnamed: 0',1,inplace = True)

<ipython-input-9-788f31b5dfa3>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_once.drop('Unnamed: 0',1,inplace = True)

In [10]:
df_once

,Sex,AgeSYear,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,Fat Mass,...,Uric Acid,Cholesterol,Triglyceride,HDL-C,LDL,AST,ALT,Alkaline Phos,HbA1c,telomere length (kb)
0,2,58,47.200,156.00,19.400,112.00,64.00,70.00,19.709,13.578,...,4.8,180,97,62,98,25,32.0,40.0,5.800,7.30
1,2,57,47.400,153.00,20.200,114.00,75.00,69.00,19.300,12.500,...,5.0,176,51,72,94,16,16.0,62.0,5.100,6.36
2,2,24,53.200,157.00,21.600,103.00,69.00,78.00,21.300,14.600,...,5.2,159,45,52,98,13,17.0,50.0,5.400,9.71
3,2,62,54.400,165.00,20.000,95.00,75.00,83.00,21.600,15.200,...,4.1,230,94,61,151,18,31.0,76.0,5.600,6.17
4,2,86,49.000,154.00,20.700,129.00,79.00,83.00,19.967,13.705,...,5.4,183,86,39,127,12,22.0,82.0,6.200,4.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
402,2,25,47.000,165.00,17.300,104.00,63.00,89.00,20.443,12.801,...,4.8,232,36,96,128,18,12.0,46.0,5.113,8.98
403,2,31,72.200,168.00,25.600,123.00,89.00,69.00,25.313,18.577,...,6.1,187,49,51,127,21,24.0,71.0,5.426,8.23
404,2,32,62.315,155.91,25.276,112.53,72.11,77.96,22.803,24.156,...,5.1,222,58,79,132,17,10.0,34.0,5.357,8.79
405,1,29,60.132,168.49,21.862,116.63,75.98,81.99,27.959,11.444,...,6.8,140,92,48,73,31,75.0,69.0,6.033,8.93
406,2,31,64.006,161.51,24.391,113.00,73.07,74.46,23.876,22.002,...,4.0,243,161,87,124,24,11.0,46.0,5.055,7.92

In [ ]:
data(df_once,data_test)

Best model: Lasso(alpha=0.7)
score:[-0.62328401 -0.72803344 -0.68818872 -0.5597663  -0.94396027]
Mean score:-0.7086465505117724
MAE Test: 0.7071184102802824

In [27]:
cross(df_once,0.7,0.5,1)

alpha: 0.7
score:[-0.62328401 -0.72803344 -0.68818872 -0.5597663  -0.94396027]
Mean score:-0.7086465505117723
MAE Test: 0.707118410280282
R2 Value Test: 0.6611496487857454
MSE Test: 0.6948817706364767
-----------------------------
alpha: 0.5
score:[-0.61533241 -0.73393407 -0.6898349  -0.61079046 -0.94162953]
Mean score:-0.7183042723295447
MAE Test: 0.7106715289557407
R2 Value Test: 0.6568250040027181
MSE Test: 0.7037503369916099
-----------------------------
alpha: 1
score:[-0.6364402  -0.72751852 -0.69801233 -0.55255867 -0.94893545]
Mean score:-0.7126930335499482
MAE Test: 0.7038750331860215
R2 Value Test: 0.6613223828718768
MSE Test: 0.694527544155111
-----------------------------

# ทีละตัวแปร จากค่าว่างมากไปน้อย

In [5]:
df_decreasing = pd.read_csv(os.path.join(path,'df_decreasing.csv'))
df_decreasing.drop('Unnamed: 0',1,inplace = True)

<ipython-input-5-9b6b50a13b92>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_decreasing.drop('Unnamed: 0',1,inplace = True)

In [6]:
df_decreasing

,Sex,AgeSYear,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,Fat Mass,...,Uric Acid,Cholesterol,Triglyceride,HDL-C,LDL,AST,ALT,Alkaline Phos,HbA1c,telomere length (kb)
0,2,58,47.200000,156.000000,19.400000,112.000,64.00,70.00,20.208,16.356,...,4.8,180,97,62,98,25,32.0,40.0,5.800000,7.30
1,2,57,47.400000,153.000000,20.200000,114.000,75.00,69.00,19.300,12.500,...,5.0,176,51,72,94,16,16.0,62.0,5.100000,6.36
2,2,24,53.200000,157.000000,21.600000,103.000,69.00,78.00,21.300,14.600,...,5.2,159,45,52,98,13,17.0,50.0,5.400000,9.71
3,2,62,54.400000,165.000000,20.000000,95.000,75.00,83.00,21.600,15.200,...,4.1,230,94,61,151,18,31.0,76.0,5.600000,6.17
4,2,86,49.000000,154.000000,20.700000,129.000,79.00,83.00,19.709,14.545,...,5.4,183,86,39,127,12,22.0,82.0,6.200000,4.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
402,2,25,47.000000,165.000000,17.300000,104.000,63.00,89.00,22.658,15.876,...,4.8,232,36,96,128,18,12.0,46.0,5.586667,8.98
403,2,31,72.200000,168.000000,25.600000,123.000,89.00,69.00,22.956,17.269,...,6.1,187,49,51,127,21,24.0,71.0,5.233333,8.23
404,2,32,57.733763,161.138144,22.066778,110.860,72.25,74.74,21.605,14.816,...,5.1,222,58,79,132,17,10.0,34.0,5.593333,8.79
405,1,29,59.594922,166.059308,21.357616,113.945,75.82,78.13,30.868,11.115,...,6.8,140,92,48,73,31,75.0,69.0,5.420000,8.93
406,2,31,58.742604,161.509610,22.430886,117.950,73.08,80.49,23.053,21.167,...,4.0,243,161,87,124,24,11.0,46.0,6.100000,7.92

In [ ]:
data(df_decreasing,data_test)

Best model: Lasso(alpha=0.7)
score:[-0.62676873 -0.67513983 -0.6395282  -0.53860495 -0.93625971]
Mean score:-0.6832602828733273
MAE Test: 0.733662573942681

In [26]:
cross(df_decreasing,0.7,0.5,1)

alpha: 0.7
score:[-0.62676873 -0.67513983 -0.6395282  -0.53860495 -0.93625971]
Mean score:-0.6832602828733272
MAE Test: 0.7336625739426811
R2 Value Test: 0.6352326949823375
MSE Test: 0.7480297714689409
-----------------------------
alpha: 0.5
score:[-0.61953007 -0.67140732 -0.64243847 -0.59242277 -0.93231457]
Mean score:-0.691622640455698
MAE Test: 0.7339591527817697
R2 Value Test: 0.6274532623403449
MSE Test: 0.7639830851056054
-----------------------------
alpha: 1
score:[-0.63280444 -0.69271241 -0.64912333 -0.53938704 -0.94621258]
Mean score:-0.6920479612024315
MAE Test: 0.7224650466098747
R2 Value Test: 0.6419802223879159
MSE Test: 0.7341925900282116
-----------------------------

# ทีละตัวแปร จากค่าว่างน้อยไปมาก

In [23]:
df_increasing = pd.read_csv(os.path.join(path,'df_increasing.csv'))
df_increasing.drop('Unnamed: 0.1',1,inplace = True)
df_increasing.drop('Unnamed: 0',1,inplace = True)

<ipython-input-23-acef49fd91fe>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_increasing.drop('Unnamed: 0.1',1,inplace = True)
<ipython-input-23-acef49fd91fe>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_increasing.drop('Unnamed: 0',1,inplace = True)

In [24]:
df_increasing

,Sex,AgeSYear,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,Fat Mass,...,Uric Acid,Cholesterol,Triglyceride,HDL-C,LDL,AST,ALT,Alkaline Phos,HbA1c,telomere length (kb)
0,2,58,47.200000,156.000000,19.400000,112.00,64.00,70.00,19.588,13.636,...,4.8,180,97,62,98,25,32.0,40.0,5.800000,7.30
1,2,57,47.400000,153.000000,20.200000,114.00,75.00,69.00,19.300,12.500,...,5.0,176,51,72,94,16,16.0,62.0,5.100000,6.36
2,2,24,53.200000,157.000000,21.600000,103.00,69.00,78.00,21.300,14.600,...,5.2,159,45,52,98,13,17.0,50.0,5.400000,9.71
3,2,62,54.400000,165.000000,20.000000,95.00,75.00,83.00,21.600,15.200,...,4.1,230,94,61,151,18,31.0,76.0,5.600000,6.17
4,2,86,49.000000,154.000000,20.700000,129.00,79.00,83.00,19.973,14.361,...,5.4,183,86,39,127,12,22.0,82.0,6.200000,4.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
402,2,25,47.000000,165.000000,17.300000,104.00,63.00,89.00,20.286,14.208,...,4.8,232,36,96,128,18,12.0,46.0,5.480000,8.98
403,2,31,72.200000,168.000000,25.600000,123.00,89.00,69.00,25.127,19.207,...,6.1,187,49,51,127,21,24.0,71.0,5.233333,8.23
404,2,32,58.229814,161.337130,22.316020,113.03,70.77,74.35,23.161,21.327,...,5.1,222,58,79,132,17,10.0,34.0,5.573333,8.79
405,1,29,58.651179,165.311575,21.143898,118.45,76.77,86.54,27.366,18.731,...,6.8,140,92,48,73,31,75.0,69.0,5.160000,8.93
406,2,31,58.687000,161.121980,22.432504,114.91,72.90,74.67,23.034,19.752,...,4.0,243,161,87,124,24,11.0,46.0,6.013333,7.92

In [ ]:
data(df_increasing,data_test)

Best model: Lasso(alpha=0.7)
score:[-0.62404192 -0.73014009 -0.69109085 -0.55246628 -0.95161362]
Mean score:-0.7098705534405317
MAE Test: 0.7097224329020025

In [25]:
cross(df_increasing,0.7,0.5,1)

alpha: 0.7
score:[-0.62404192 -0.73014009 -0.69109085 -0.55246628 -0.95161362]
Mean score:-0.7098705534405318
MAE Test: 0.7097224329020022
R2 Value Test: 0.6609718556141866
MSE Test: 0.6952463718045653
-----------------------------
alpha: 0.5
score:[-0.61840508 -0.73774214 -0.69429015 -0.60017966 -0.95207693]
Mean score:-0.7205387909644451
MAE Test: 0.712866854234465
R2 Value Test: 0.6591590944996322
MSE Test: 0.6989638082732266
-----------------------------
alpha: 1
score:[-0.63665417 -0.72647958 -0.69593279 -0.55209321 -0.95277632]
Mean score:-0.7127872138071674
MAE Test: 0.7059407499586452
R2 Value Test: 0.6595696275407394
MSE Test: 0.6981219265236954
-----------------------------

# ข้อมูลสุ่มเติมชุด 1

In [20]:
df_Random_1 = pd.read_csv(os.path.join(path,'df_Random_1.csv'))
df_Random_1.drop('Unnamed: 0',1,inplace = True)

<ipython-input-20-fdc99b7ebf69>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_Random_1.drop('Unnamed: 0',1,inplace = True)

In [21]:
df_Random_1

,Sex,AgeSYear,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,Fat Mass,...,Uric Acid,Cholesterol,Triglyceride,HDL-C,LDL,AST,ALT,Alkaline Phos,HbA1c,telomere length (kb)
0,2,58,47.200000,156.000000,19.400000,112.000,64.00,70.00,19.556,15.752,...,4.8,180,97,62,98,25,32.0,40.0,5.800000,7.30
1,2,57,47.400000,153.000000,20.200000,114.000,75.00,69.00,19.300,12.500,...,5.0,176,51,72,94,16,16.0,62.0,5.100000,6.36
2,2,24,53.200000,157.000000,21.600000,103.000,69.00,78.00,21.300,14.600,...,5.2,159,45,52,98,13,17.0,50.0,5.400000,9.71
3,2,62,54.400000,165.000000,20.000000,95.000,75.00,83.00,21.600,15.200,...,4.1,230,94,61,151,18,31.0,76.0,5.600000,6.17
4,2,86,49.000000,154.000000,20.700000,129.000,79.00,83.00,19.717,16.245,...,5.4,183,86,39,127,12,22.0,82.0,6.200000,4.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
402,2,25,47.000000,165.000000,17.300000,104.000,63.00,89.00,20.263,13.955,...,4.8,232,36,96,128,18,12.0,46.0,5.546667,8.98
403,2,31,72.200000,168.000000,25.600000,123.000,89.00,69.00,25.383,22.256,...,6.1,187,49,51,127,21,24.0,71.0,5.246667,8.23
404,2,32,57.396724,160.346047,22.173580,112.690,70.83,72.79,22.659,20.312,...,5.1,222,58,79,132,17,10.0,34.0,5.353333,8.79
405,1,29,66.214342,171.956726,22.271332,111.605,75.38,83.33,29.393,13.284,...,6.8,140,92,48,73,31,75.0,69.0,5.533333,8.93
406,2,31,56.579109,159.129006,22.239508,113.600,73.13,73.54,21.985,19.588,...,4.0,243,161,87,124,24,11.0,46.0,5.900000,7.92

In [ ]:
data(df_Random_1,data_test)

Best model: Lasso(alpha=0.7)
score:[-0.64193037 -0.69987492 -0.66018259 -0.54127652 -0.9063338 ]
Mean score:-0.6899196388603197
MAE Test: 0.7610016235727748

In [22]:
cross(df_Random_1,0.7,0.5,1)

alpha: 0.7
score:[-0.64193037 -0.69987492 -0.66018259 -0.54127652 -0.9063338 ]
Mean score:-0.6899196388603198
MAE Test: 0.7610016235727746
R2 Value Test: 0.618101059455578
MSE Test: 0.7831616849702083
-----------------------------
alpha: 0.5
score:[-0.62886415 -0.69876888 -0.66435633 -0.61151168 -0.90033219]
Mean score:-0.7007666472608395
MAE Test: 0.7546169273505006
R2 Value Test: 0.6163666139328462
MSE Test: 0.7867185193414568
-----------------------------
alpha: 1
score:[-0.6555347  -0.71211446 -0.66922421 -0.51964426 -0.91784319]
Mean score:-0.6948721654588143
MAE Test: 0.7576327982627739
R2 Value Test: 0.6195215774641003
MSE Test: 0.7802486230080597
-----------------------------

# ข้อมูลสุ่มเติมชุด 2

In [17]:
df_Random_2 = pd.read_csv(os.path.join(path,'df_Random_2.csv'))
df_Random_2.drop('Unnamed: 0',1,inplace = True)

<ipython-input-17-8d12976e41d7>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_Random_2.drop('Unnamed: 0',1,inplace = True)

In [18]:
df_Random_2

,Sex,AgeSYear,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,Fat Mass,...,Uric Acid,Cholesterol,Triglyceride,HDL-C,LDL,AST,ALT,Alkaline Phos,HbA1c,telomere length (kb)
0,2,58,47.200000,156.000000,19.400000,112.000,64.000000,70.00,19.882,12.598,...,4.8,180,97,62,98,25,32.0,40.0,5.800000,7.30
1,2,57,47.400000,153.000000,20.200000,114.000,75.000000,69.00,19.300,12.500,...,5.0,176,51,72,94,16,16.0,62.0,5.100000,6.36
2,2,24,53.200000,157.000000,21.600000,103.000,69.000000,78.00,21.300,14.600,...,5.2,159,45,52,98,13,17.0,50.0,5.400000,9.71
3,2,62,54.400000,165.000000,20.000000,95.000,75.000000,83.00,21.600,15.200,...,4.1,230,94,61,151,18,31.0,76.0,5.600000,6.17
4,2,86,49.000000,154.000000,20.700000,129.000,79.000000,83.00,19.823,13.827,...,5.4,183,86,39,127,12,22.0,82.0,6.200000,4.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
402,2,25,47.000000,165.000000,17.300000,104.000,63.000000,89.00,20.844,10.078,...,4.8,232,36,96,128,18,12.0,46.0,5.480000,8.98
403,2,31,72.200000,168.000000,25.600000,123.000,89.000000,69.00,25.324,22.487,...,6.1,187,49,51,127,21,24.0,71.0,5.446667,8.23
404,2,32,53.787249,160.038949,20.905205,107.070,71.439606,74.56,21.663,14.119,...,5.1,222,58,79,132,17,10.0,34.0,5.513333,8.79
405,1,29,67.601595,171.279267,22.892886,115.685,69.085582,88.73,29.540,12.944,...,6.8,140,92,48,73,31,75.0,69.0,5.166667,8.93
406,2,31,55.288431,159.650337,21.633827,116.670,74.884619,78.32,21.865,16.727,...,4.0,243,161,87,124,24,11.0,46.0,6.006667,7.92

In [ ]:
data(df_Random_2,data_test)

Best model: Lasso(alpha=0.7)
score:[-0.64171744 -0.70531335 -0.69667032 -0.55012558 -0.90827135]
Mean score:-0.7004196067966462
MAE Test: 0.7667229989095304

In [19]:
cross(df_Random_2,0.7,0.5,1)

alpha: 0.7
score:[-0.64171744 -0.70531335 -0.69667032 -0.55012558 -0.90827135]
Mean score:-0.7004196067966463
MAE Test: 0.7667229989095304
R2 Value Test: 0.6180594743858591
MSE Test: 0.7832469636390214
-----------------------------
alpha: 0.5
score:[-0.63497808 -0.70521856 -0.69587102 -0.61789465 -0.90195981]
Mean score:-0.7111844226928303
MAE Test: 0.7642156672647015
R2 Value Test: 0.6170982699755057
MSE Test: 0.7852181093681508
-----------------------------
alpha: 1
score:[-0.65582423 -0.72116802 -0.71718174 -0.53948728 -0.91679894]
Mean score:-0.7100920413645271
MAE Test: 0.76440150430377
R2 Value Test: 0.6172560687009027
MSE Test: 0.7848945108907842
-----------------------------

# ข้อมูลควบคุม

In [12]:
df_control = pd.read_csv(os.path.join(path,'control.csv'))
df_control.drop('Unnamed: 0',1,inplace = True)

<ipython-input-12-690f813aeb21>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_control.drop('Unnamed: 0',1,inplace = True)

In [13]:
df_control

,Sex,AgeSYear,telomere length (kb),Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,...,003_Creatinine,004_Uric Acid,005_Cholesterol,006_Triglyceride,008_HDL-C,009_LDL,010_AST,012_ALT,013_Alkaline Phos,071_HbA1c
0,2,57,6.36,47.4,153,20.2,114,75,69,19.3,...,1.0,5.0,176,51,72,94,16,16,62,5.1
1,2,24,9.71,53.2,157,21.6,103,69,78,21.3,...,0.8,5.2,159,45,52,98,13,17,50,5.4
2,2,62,6.17,54.4,165,20.0,95,75,83,21.6,...,0.7,4.1,230,94,61,151,18,31,76,5.6
3,2,35,7.23,56.3,161,21.7,95,57,72,22.5,...,0.6,5.0,198,47,68,120,16,20,35,5.1
4,1,46,6.52,72.3,170,25.0,133,77,107,29.2,...,0.9,6.9,194,63,60,122,15,19,69,5.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,1,60,5.81,72.0,170,24.9,131,74,69,30.5,...,0.9,6.9,182,179,39,107,36,31,79,6.5
134,1,58,5.05,62.0,168,22.0,103,76,72,27.8,...,1.0,6.8,191,62,47,132,16,33,42,6.8
135,2,42,9.48,55.5,165,20.4,102,52,77,22.9,...,0.8,4.7,212,68,63,135,11,16,33,4.8
136,2,61,6.06,61.8,159,24.4,117,60,72,23.4,...,0.8,5.1,235,66,56,166,15,23,44,5.4
137,2,31,9.44,58.2,169,20.4,108,69,73,25.0,...,0.7,4.3,200,44,56,135,14,21,31,4.7

In [ ]:
data(df_control,data_test)

Best model: Lasso(alpha=0.5)
score:[-0.58362961 -0.60781494 -0.68322485 -0.67261046 -0.57426036]
Mean score:-0.624308041953888
MAE Test: 0.7156091954224476

In [15]:
cross(df_control,0.7,0.5,1)

alpha: 0.7
score:[-0.57320391 -0.62579012 -0.70127773 -0.66459047 -0.56364502]
Mean score:-0.6257014495005674
MAE Test: 0.7140434691985331
R2 Value Test: 0.6627209896334183
MSE Test: 0.6916594156747905
-----------------------------
alpha: 0.5
score:[-0.58362961 -0.60781494 -0.68322485 -0.67261046 -0.57426036]
Mean score:-0.6243080419538882
MAE Test: 0.7156091954224496
R2 Value Test: 0.6594031318239721
MSE Test: 0.6984633599560531
-----------------------------
alpha: 1
score:[-0.57133243 -0.65459659 -0.71899352 -0.65420697 -0.56692221]
Mean score:-0.6332103423427409
MAE Test: 0.7121701892117296
R2 Value Test: 0.6647221943093228
MSE Test: 0.6875555372410946
-----------------------------